@charset "ISO-8859-1";

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.logo {
	padding-top: 0px;
	padding-bottom: 0px;
	width: 40%;
	max-width: 250px;
}

