/.metadata/
/Mazemap/.metadata/
/Mazemap/bin/
/.vs
/Mazemap/.vs/VSWorkspaceState.json
/Mazemap/.vs/slnx.sqlite
/Mazemap/.vs/ProjectSettings.json
/Mazemap/.vs/Mazemap/v16/.suo
/Mazemap/.vs/Mazemap/v16
